body {
    background-color: gray;
    font-family: "Quicksand", sans-serif;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    display:flex;
    justify-content: space-around;
    align-items:center;
    padding: 15px 60px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

#page-logo a {
    padding: 30px;
    font-family: "Oleo Script", sans-serif;
    color: rgb(245,243,160);
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0,0,0);
}

header ul {
    display: flex;
}

header li {
    margin-left: 20px;
}

header a {
    color: pink;
    text-decoration: none;
    font-size: 20px;
    padding: 12px;
    text-shadow: 1px 1px 2px rgb(0,0,0,0.2);
    border-radius: 6px;
}

header nav a:hover {
    color: rgb(77,77,77);
    background-color: rgb(255,251,0);
}

footer {
    display: grid;
    background-color: black;
    background: fixed;
    padding: 10px 0;
    text-align: left;
}


*{
    color: burlywood;
    box-sizing:content-box;
  }
  
  footer{
    position:relative;
    bottom: 0px;
    width: 100%;
    background:gray;
  }
  .main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 60%;
    padding: 5px 10px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .right form .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: #3498db;
  }
  .right form input{
    height: 35px;
  }
  .right form .btn{
    margin-top: 10px;
  }
  .right form .btn button{
    height: 30px;
    width: 50%;
    border: none;
    outline: none;
    background: #3498db;
    font-size: 1.0625rem;
    font-weight: 200;
    cursor: pointer;
    transition: .3s;
  }
  .right form .btn button:hover{
    background: black;
  }
  
  @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
  }
  
